<h1>Lista de productos:</h1>

{{#each products}}
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.id}}</p>
    <br>
{{/each}}