<div>
    <h1>Bienvenido {{user.name}}</h1>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Role: {{user.role}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>

<h1>Lista de productos:</h1>
<hr> 
{{#each products}}
    <h3>Producto: {{this.title}}</h3>
    <p>Descripción: {{this.description}}</p>
    <p>{{this._id}}</p>
    <button data-id="{{this._id}}">Agregar al carrito</button>
    <hr>
{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="/cliente.js"></script>